/* using less styling to make multiple examples on the same page easier */

/* nesting tags reduces accidental selector interaction */

.exampleContainer {
    /* example 1 */
    &.ex1 {
        .select:not(:checked)+.gridContainer {
            display: grid;
            /* default auto flow row layout, rows are automatically created */
            grid-template-columns: 1fr 1fr;
        }
        .select:checked+.gridContainer {
            display: grid;
            grid-auto-flow: column;
            grid-template-rows: 3em 3em 3em;
        }
        .gridContainer>div {
            background: yellow;
            border: 1px solid black;
        }
    }
    /* example 2 */
    &.ex2 {
        .gridContainer {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            >div {
                background: yellow;
                border: 1px solid black;
            }
        }
        .select:not(:checked)+.gridContainer {}
        .select:checked+.gridContainer {
            grid-template-rows: 2em 3em 1em;
        }
    }
    /* example 3*/
    &.ex3 {
        .gridContainer {
            display: grid;
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-rows: 2em 3em 2em;
            >div {
                background: yellow;
                border: 1px solid black;
            }
            >div:nth-child(3) {
                background: blue;
            }
            >div.b6 {
                background: red;
            }
        }
        .select:checked+.gridContainer {
            /* use nth child 
              Position and size
            */
            >div:nth-child(3) {
                /* note the e is for less.js, as it will try to do the division without the e */
                /* cell starts at line 2 and ends at line 4( which is the same as spanning column 2 and 3) */
                grid-column: e("2 / 4");
                grid-row: e("2 / 4");
                
            }
            /* use class 
               Just position
               Notice, manually placed items can overlap!
            */
            >div.b6{
                grid-column: 2;
                grid-row: 2;
            }
        }
    }
}