//Variable example
@theme_background : darkblue;
@theme_font : Arial, Helvetica, sans-serif;
@sidebar_color: orange; //Color of menu items
//loop example 1
//will generate ruleset for list, starting with the last item
.create_grid(@classlist, @items) when (@items > 0) {
    //index in list starts at 1, loop stops when items is 0
    @class_name : extract(@classlist, @items);
    .@{class_name} {
        //using variable interpolation, and naming class and grid area the same.
        grid-area: @class_name;
    }
    .create_grid(@classlist, @items - 1); //recursive call, decrease items by 1 each time
}

//grid layout
.page_container {
    display: grid;
    grid-template-columns: repeat(7, 1fr); //specifed columns width, but not rows. rows will be autosized
    grid-template-areas: "head    head    head head head head head" 
                          "menu    menu    menu menu menu menu menu" 
                          "sidebar sidebar body body body body body" 
                          "footer  footer  footer footer footer footer footer"; //need to set grid-area so templates areas will work
    //You can ignore the recursion example if it's too complicated
    @grid_class_list: head menu sidebar body footer;
    @num_items: 5;
    .create_grid(@grid_class_list, @num_items);
}

//Usage: let's pretend I put alot of effort adjusting the font
//I can put it in a mixin and use it multiple places
.text_styling(@font) {
    font-family: @font;
    font-size: 12pt;
    font-kerning: normal;
    letter-spacing: 0.05em;    
    word-spacing: .1em;
}

//Other styling
.page_container {
    //Now we style individual boxes
    .head {
        font-family: @theme_font;
        height: 1em;
        font-size: 30pt;
        text-align: center;
        background: @theme_background;
        color: contrast($background); //set color to contrast background, using it as a variable
    }
    .body{
        .text_styling(@theme_font);
        padding-left: 1.5em;
        >h1:first-of-type{
            text-transform: capitalize;
            &:first-letter{
                border: 2.5px red solid;
            }
        }
        p:nth-child(4n){
            background:lightgrey;
        }       
        p:nth-child(4n+2){
            background: darken(lightgrey,10%);
        }  
    }
    .menu {
        display: flex;
        background: lighten(@theme_background, 20%);
        color: contrast(lighten(@theme_background, 20%));
        justify-content: space-around;
        >div {
            &:hover {
                background: lighten(@theme_background, 40%);
            }
        }
    } //Now styling the side bar
    .sidebar {
        background: @sidebar_color;
        
        > div {
            width: 100%;
            text-align: center;
            padding-top: 0.5em;
            .text_styling(@theme_font); //Parametric mixin
        }
    }
    .footer{
        background: lighten(@sidebar_color,22%);
        .text_styling(@theme_font);  //Parametric mixin
        font-size: 6pt;
    }
}

//Demonstration on how loop can be useful
//Make a table where the rows gradually change color
//Counter has a default value, so user doesn't need to put in @counter
.table_gradient(@color, @change, @repeat, @counter: 0) when (@counter < @repeat){

    tr:nth-child(@{repeat}n + @{counter}){
        background: @color;
        color: contrast($background);  //Using prooperties as variables again
    }
    .table_gradient(darken(@color, @change), @change, @repeat, @counter + 1);  //Recursive call, changing the counter when we call
}
//Generate the styles for the rows for the table
.page_container{
    >.body{
        table{
            //Goes from pink to red, in 6 steps then repeats
            .table_gradient(pink, 10%, 6);
        }
    }
}

//Note: Even with only 100 lines of code, this file did take a long time to make.